.wrapper {
  width: 100vw;
  height: 100vh;
  .upperPart {
    width: 100%;
    height: 50%;
    background: #0471a6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    .textWrapper {
      height: 200px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 800;
      font-size: 70px;
      line-height: 82px;
      text-align: center;
    }
  }
  .mainComponent {
    position: absolute;
    left: 10%;
    top: 25%;
    height: 60%;
    width: 70%;
    background: #ffffff;
    box-shadow: 1px 1px 40px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    display: flex;
    .leftPartOfMainComponent {
      background: #ffffff;
      border-radius: 40px;
      width: 55%;
      padding: 32px;
      display: flex;
      flex-direction: column;
      .title {
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        text-align: center;
        color: #0471a6;
        margin-bottom: 16px;
      }
    }
    .rightPartOfMainComponent {
      background: #ff9b05;
      border-radius: 40px;
      width: 45%;
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .submitButton {
        width: 141px;
        height: 33px;
        background: #0471a6;
        border-radius: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 32px;
        cursor: pointer;
        font-family: "Roboto";
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        color: #ffffff;
      }
    }
  }
}
