.wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    color: #e3005f;
  }
}
