.dotWrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .dot {
    background-color: #00ffc2;
    border: 1px solid #00ffc2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 20px;
    width: 20px;
    border-radius: 100px;
    position: relative;
    top: 3px;
  }
  .todayDate {
    color: #0471a6;
  }
}
.itemWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  .middleDayBar {
    width: 10px;
    background-color: #00ffc2;
  }
}
.daySeparationBarWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  .daySeparationBar {
    width: 150px;
    border-radius: 20px;
    height: 30px;
    background-color: #00ffc2;
    display: flex;
    align-items: center;
    justify-content: center;
    .dayDate {
      z-index: 2;
      display: block;
      font-size: 20px;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      min-width: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0471a6;
    }
  }
}
