.sidesItems {
  width: calc(50% - 5px);
  display: flex;
  flex-direction: column;
  .item {
    height: 125px;
    display: flex;
    align-items: center;
    .extensionBar {
      width: 150px;
      height: 5px;
      background-color: #0471a6;
      display: flex;
      align-items: center;
    }
    .note {
      width: 250px;
      height: 98px;
      background: #0471a6;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      display: flex;
      align-items: center;
      color: #ffffff;
      justify-content: center;
      border: 1px solid transparent;
      cursor: pointer;
      font-family: "Roboto";
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 38px;
    }
    .note:hover {
      border: 1px solid #00ffc2;
    }
  }
}
